/*-------- Blog --------*/

.breadcrumbs.blog {
    padding-top: 10px;
}

article.blog {
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

article.blog figure {
    height: 260px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    article.blog figure {
        height: 210px;
    }
}

@media (max-width: 767px) {
    article.blog figure {
        height: 220px;
    }
}

article.blog figure .preview {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -12px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    z-index: 2;
}

article.blog figure .preview span {
    background-color: #f8da45;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
    color: #222;
    font-size: 0.8rem;
    padding: 5px 10px;
}

article.blog figure:hover .preview {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

article.blog figure img {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -moz-transition: 0.3s;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: auto;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

article.blog figure img:hover {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 991px) {
    article.blog figure img {
        height: inherit;
        max-width: 100%;
    }
}

article.blog .post_info {
    padding: 20px 30px 30px 30px;
    position: relative;
    box-sizing: border-box;
    height: 17em;
}

article.blog .post_info small {
    font-weight: 500;
    color: #999;
    font-size: 13px;
    font-size: 0.8125rem;
}

article.blog .post_info h2 {
    font-size: 21px;
    font-size: 1.3125rem;
}

article.blog .post_info h2 a {
    color: #333;
}

article.blog .post_info h2 a:hover {
    color: #f8da45;
}

article.blog .post_info ul {
    margin: 0 -30px 0 -30px;
    padding: 20px 30px 0 30px;
    width: 100%;
    box-sizing: content-box;
    border-top: 1px solid #ededed;
}

article.blog .post_info ul li {
    display: inline-block;
    position: relative;
    padding: 12px 0 0 50px;
    font-weight: 500;
    font-size: 12px;
    font-size: 0.75rem;
    color: #999;
}

article.blog .post_info ul li .thumb {
    width: 40px;
    height: 40px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

article.blog .post_info ul li .thumb img {
    width: 40px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

article.blog .post_info ul li:last-child {
    float: right;
    padding-left: 0;
    line-height: 1;
}

article.blog .post_info ul li:last-child i {
    font-size: 14px;
    font-size: 0.875rem;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

@media (max-width: 991px) {
    article.blog .post_info ul {
        position: static;
        width: auto;
    }
}


/*Blog Sidebar*/

.alignleft {
    float: left;
    margin: 0 15px 10px 0;
    width: 80px;
    height: 80px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.alignleft img {
    width: auto;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.comments-list {
    padding: 0;
    list-style: none;
}

.comments-list h3 {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 0 0 0;
    margin: 0;
    text-transform: capitalize;
}

.comments-list h3 a {
    color: #555;
}

.comments-list h3 a:hover {
    color: #f8da45;
}

.comments-list li {
    margin-bottom: 10px;
    display: table;
    width: 100%;
}

.comments-list li:last-child {
    margin-bottom: 0;
}

.comments-list small {
    color: #555;
}

.widget-title {
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.widget-title h4 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    line-height: 1;
    font-size: 16px;
    font-size: 1rem;
}

.widget-title.first {
    padding-top: 0;
}

.widget {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.widget ul.cats {
    list-style: none;
    padding: 0;
}

.widget ul.cats li {
    padding: 0 0 5px 2px;
    position: relative;
}

.widget ul.cats a {
    color: #555;
}

.widget ul.cats a:hover {
    color: #f8da45;
}

.widget ul.cats a span {
    position: absolute;
    right: 0;
}

.tags a {
    background-color: #f0f0f0;
    padding: 3px 10px;
    font-size: 13px;
    margin: 0 0 4px;
    letter-spacing: 0.4px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    color: #333;
}

.tags a:hover {
    background-color: #f8da45;
    color: #fff;
}

.search_blog .form-group {
    position: relative;
}

.search_blog .form-group button[type="submit"] {
    outline: none;
    color: #444;
    font-size: 21px;
    font-size: 1.3125rem;
    background: none;
    border: 0;
    position: absolute;
    top: 5px;
    right: 0;
}

.search_blog .form-group button[type="submit"]:hover {
    color: #f8da45;
}


/*Blog Post*/

.singlepost {
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 30px 30px 1px 30px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.singlepost figure {
    margin: -30px -30px 30px -30px;
}

.singlepost h1 {
    font-size: 28px;
    font-size: 1.75rem;
}

@media (max-width: 767px) {
    .singlepost h1 {
        font-size: 21px;
        font-size: 1.3125rem;
    }
}

.singlepost p {
    line-height: 1.8;
}

.postmeta {
    padding-bottom: 10px;
}

.postmeta ul {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.postmeta ul li {
    display: inline-block;
    margin: 0 15px 5px 0;
    color: #777;
}

.postmeta ul li i {
    margin-right: 3px;
}

.postmeta ul li a {
    color: #777;
}

.postmeta ul li a:hover {
    color: #f8da45;
}

.postmeta ul li a i {
    margin-right: 3px;
}

.dropcaps p:first-child::first-letter {
    color: #fff;
    background-color: #f8da45;
    float: left;
    font-size: 64px;
    font-size: 4rem;
    line-height: 1;
    margin: 10px 15px 0 0 !important;
    padding: 12px;
}



.avatar {
    float: left;
    margin-right: 25px;
    width: 58px;
    height: 58px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}

@media (max-width: 767px) {
    .avatar {
        float: none;
        margin: 0 0 5px 0;
    }
}

.avatar img {
    width: 58px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.comment_right {
    display: table;
    background-color: #e7e7e7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 15px 15px 0 15px;
    position: relative;
}

.comment_right:after,
.comment_right:before {
    right: 100%;
    top: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.comment_right:after {
    background-color: transparent;
    border-right-color: #e7e7e7;
    border-width: 15px;
    margin-top: -15px;
}

.comment_right:before {
    border-color: transparent;
    border-width: 16px;
    margin-top: -16px;
}

.comment_info {
    padding-bottom: 7px;
}

.comment_info span {
    padding: 0 10px;
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;

        .modal-content {
            padding: 1rem;
        }
    }
}

.modal-header {
    .close {
        margin-top: -1.5rem;
    }
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons {
    .btn {
        margin: 0 0.5rem 1rem;
    }
}

.signup-section {
    padding: 0.3rem 0rem;
}



/** ====================
                        * Lista de Comentarios
                        =======================*/

.comments-container {
    margin: 8px auto 15px;
    width: 768px;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

/**
                        * Lineas / Detalles
                        -----------------------*/

.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* .reply-list:before,
.reply-list:after {
    display: none;
}

.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
} */

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

/* .reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
} */

/**
                        * Avatar
                        ---------------------------*/

.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

/* .reply-list .comment-avatar {
    width: 50px;
    height: 50px;
} */

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

/**
                        * Caja del Comentario
                        ---------------------------*/

.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

/* .reply-list .comment-box {
    width: 610px;
} */

.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c;
}

.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** =====================
                        * Responsive
                        ========================*/

@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    /* .reply-list .comment-box {
        width: 320px;
    } */
}

div.comment-module {
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 5px;
    padding: 10px 0;
}

div.comment-module ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* row-gap: 50px; */
    margin-left: 0px;
}

div.comment-module ul li {
    width: 100%;
    position: relative;
    padding: 10px 0;
}

div.comment-module ul li .comment {
    width: 100%;
    display: flex;
}
div.comment-module ul li .reply {
    width: 100%;
    display: flex;
    padding: 10px 0;
}


/* ... */
div.comment-module ul li .comment .media-option {
    position: absolute;
    right: 0.7rem;
    /* top: 1rem; */
    visibility: hidden;
}
div.comment-module ul li .reply .media-option {
    position: absolute;
    right: 0.7rem;
    /* top: 1rem; */
    visibility: hidden;
}

div.comment-module ul li .comment:hover .media-option {
    visibility: visible;
}
div.comment-module ul li .reply:hover .media-option {
    visibility: visible;
}

.ripple-grow {
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.658) !important;
}

.ripple-grow:hover {
    background-color: rgba(0, 0, 0, 0.122);
    color: #000;
}

.collapse-repply,
.media-footer-option .icon-bubble-content,
.media-footer-option,
.media-comment-footer,
.ripple-grow,
.media-comment-body .media-comment-data-person {
    display: flex;
    align-items: center;
}

/* ... */

div.comment-module ul li .comment .comment-img {
    width: 7%;
}
div.comment-module ul li .rely .comment-img {
    width: 7%;
}

/* div.comment-module ul li .comment .comment-img img {
    width: 50px;
    height: 50px;
} */
.comment-img img {
    width: 60px;
    height: 60px;
}

div.comment-module ul li .comment .comment-content {
    width: 93%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
div.comment-module ul li .reply .comment-content {
    width: 93%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
div.comment-module ul li .comment .comment-content .comment-details {
    width: 100%;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: flex-start;
}
div.comment-module ul li .reply .comment-content .comment-details {
    width: 100%;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: flex-start;
}
div.comment-module ul li .comment .comment-content .comment-details .comment-name {
    text-transform: capitalize;
    margin-bottom: 0;
}
div.comment-module ul li .reply .comment-content .comment-details .comment-name {
    text-transform: capitalize;
    margin-bottom: 0;
}

div.comment-module ul li .comment .comment-content .comment-details .comment-log {
    color: #7a7a7a;
    font-size: 14px;
}
div.comment-module ul li .reply .comment-content .comment-details .comment-log {
    color: #7a7a7a;
    font-size: 14px;
}
div.comment-module ul li .comment .comment-content .comment-data {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}
div.comment-module ul li .reply .comment-content .comment-data {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}
div.comment-module ul li::before {
    content: "";
    position: absolute;
    top: 95px;
    left: 64px;
    transform: translateX(-23px);
    width: 2px;
    height: calc(100% - 108px);
    background: #c5c5c5;
}

/* div.comment-module ul li::after {
    content: "";
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-style: solid;
    top: 60px;
    left: 80px;
    transform: translateX(-25px);
    width: 2px;
    height: calc(100% - 100px);
    background: #c5c5c5;
} */

div.comment-module ul li ul {
    margin-top: 12px;
    margin-left: 6.7em;
    margin-bottom: 15px;
    width: calc(100% - 70px);
}

/* media */
.media-comment-footer {
    padding-left: 1%;
    margin-top: 0.6rem;
    margin-bottom: 0.2em;
}

.media-footer-option {
    padding: 0 1rem 0 0;
    text-decoration: none;
    transition: all 0.3s;
    color: var(--body-color);
}

.media-footer-option .icon-bubble-content {
    transition: all 0.3s;
    justify-content: center;
    /* margin-right: 0.4rem; */
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
}

.media-footer-option.repply:hover {
    color: #03c1e2;
}

.media-footer-option.repply:hover .icon-bubble-content {
    background-color: rgba(0, 156, 184, 0.233);
}

.media-footer-option.like:hover {
    color: #cd0aa9;
}

.media-footer-option .active {
    color: #cd0aa9;
}

.media-footer-option.like:hover .icon-bubble-content {
    background-color: rgba(215, 9, 178, 0.169);
}

.media-footer-option.share:hover {
    color: #009402;
}

.media-footer-option.share:hover .icon-bubble-content {
    background-color: rgba(0, 179, 3, 0.164);
}

/* end media */

@media screen and (max-width: 1600px) {
    div.comment-module {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {
    div.comment-module {
        width: 100%;
    }

    div.comment-module ul li .comment .comment-img {
        width: 10%;
    }

    div.comment-module ul li .comment .comment-content {
        width: 90%;
    }
    div.comment-module ul li .reply .comment-img {
        width: 10%;
    }

    div.comment-module ul li .reply .comment-content {
        width: 90%;
    }
}

@media screen and (max-width: 1024px) {
    div.comment-module {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    div.comment-module {
        width: 96%;
        padding: 75px 10px;
    }

    div.comment-module ul li .comment {
        column-gap: 12px;
    }

    div.comment-module ul li .comment .comment-img {
        width: 15%;
    }

    div.comment-module ul li .comment .comment-img img {
        width: 40px;
        height: 40px;
    }

    div.comment-module ul li .comment .comment-content {
        width: 85%;
    }

    div.comment-module ul li .comment .comment-content .comment-details {
        flex-direction: column;
        align-items: flex-start;
    }

    div.comment-module ul li .comment .comment-content .comment-data {
        column-gap: 12px;
    }

    div.comment-module ul li::before {
        top: 70px;
        left: 50px;
        transform: translateX(-30px);
        height: calc(100% - 60px);
    }

    div.comment-module ul li ul {
        margin-top: 25px;
        margin-left: 50px;
        width: calc(100% - 50px);
    }
}

.block {
    background: #fff;
    padding: 1rem;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: block;
}

.block-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2em;
}

.block-header .title {
    display: flex;
    align-items: flex-start;
}

.block-header .title .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    background: #f7f7f7;
    color: #1c1c1c;
    text-align: center;
    padding: 0 4px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #e8e8e8;
    border-radius: 96px;
}
.title-comment {
    display: flex;
    align-items: flex-start;
    margin: 12px;
}

.title-comment .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    background: #f7f7f7;
    color: #1c1c1c;
    text-align: center;
    padding: 0 4px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border: 1px solid #e8e8e8;
    border-radius: 96px;
}
.writing {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1em;
    padding: 12px;
}

.writing .textarea {
    width: 100%;
    font-family: "Inter";
    color: #585757;
    /* height: 50px; */
    overflow-y: auto;
    appearance: none;
    border: 0;
    outline: 0;
    resize: none;
    font-size: 16px;
    line-height: 24px;
}

.writing:focus-within {
    border: 1px solid #0085ff;
    box-shadow: 0px 0px 2px 2px rgba(0, 133, 255, 0.15);
}

.writing .footer {
    margin-top: 12px;
    margin-left: 12px;
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8;
}

.comment {
    display: grid;
    /* gap: 14px; */
}
.reply {
    display: grid;
    /* gap: 14px; */
}

.comment .user-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment .user-banner .user {
    gap: 8px;
    align-items: center;
    display: flex;
}

.comment .user-banner .user .avatar {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    position: relative;
    border-radius: 100px;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.comment .user-banner .user .avatar img {
    max-width: 100%;
    border-radius: 50%;
}

.comment .user-banner .user .avatar .stat {
    display: flex;
    position: absolute;
    right: -2px;
    bottom: -2px;
    display: block;
    width: 12px;
    height: 12px;
    z-index: 9;
    border: 2px solid #ffffff;
    border-radius: 100px;
}

.comment .user-banner .user .avatar .stat.green {
    background: #00ba34;
}

.comment .user-banner .user .avatar .stat.grey {
    background: #969696;
}

.comment .footer {
    gap: 12px;
    display: flex;
    align-items: center;
}

.comment .footer .reactions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.comment .footer .divider {
    height: 12px;
    width: 1px;
    background: #e8e8e8;
}

.comment:not(.comment:first-child) {
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #e8e8e8;
}

.comment+.comment {
    padding-top: 12px;
}

.comment.reply .user-banner,
.comment.reply .content,
.comment.reply .footer {
    margin-left: 32px;
}

.group-radio {
    position: relative;
    display: flex;
    float: right;
    user-select: none;
    align-items: stretch;
    margin-left: 27em;
}

.group-radio .button-radio {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
}

.group-radio .button-radio label {
    cursor: pointer;
    padding: 4px 8px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    height: 40px;
    align-items: center;
    line-height: 28px;
    transition: 0.2s ease;
}

.group-radio .button-radio:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.group-radio .button-radio:last-child {
    border-top-right-radius: 8px;
    border-right: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-bottom-right-radius: 8px;
}

.group-radio .button-radio input[type=radio] {
    display: none;
}

.group-radio .button-radio input[type=radio]:checked+label {
    background: #f8da45;
}

.group-radio .divider {
    width: 1px;
    background: #e8e8e8;
}

p a.tagged-user {
    display: inline-flex;
    padding: 2px 8px;
    background: #e5f3ff;
    border-radius: 256px;
    color: #0085ff;
}

.is-mute {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #969696;
}

.load {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load span {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #969696;
}

.load span i {
    margin-right: 6px;
}

.writing:hover .group-button {
    visibility: visible;
}

.group-button {
    visibility: hidden;
    display: flex;
}

/* Dropdown styles */

.media-option summary {
    list-style: none;
    list-style-type: none;
}

.media-option>summary::-webkit-details-marker {
    display: none;
}

.media-option summary:focus {
    outline: none;
}

.media-option summary:focus a.button_dropdown {
    border: 2px solid white;
}

.media-option summary:focus {
    outline: none;
}

.media-option .ul_dropdown {
    position: absolute;
    margin: 20px 0 0 0;
    padding: 20px 0;
    width: 160px;
    height: auto;
    left: 50%;
    margin-left: calc((160px / 2) * -1);
    box-sizing: border-box;
    z-index: 2;
    background: rgb(231, 230, 230);
    border-radius: 6px;
    list-style: none;
    display: none;
}

.media-option .ul_dropdown .li_dropdown {
    padding: 0;
    margin: 0;
}

.media-option .ul_dropdown .li_dropdown .a_dropdown:link,
.comment .media-option ul li .a_dropdown:visited {
    display: inline-block;
    padding: 10px 0.8rem;
    width: 100%;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}

.media-option .ul_dropdown .li_dropdown .a_dropdown:hover {
    background-color: dodgerblue;
    color: white;
}

/* Dropdown triangle */
.media-option .ul_dropdown::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgb(0, 0, 0) transparent;
}

/* Close the dropdown with outside clicks */
.media-option>summary::before {
    display: none;
}

.media-option[open]>summary::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
