
/* footer.top-footer { */
    /*position: relative;*/
    /* padding: 75px 0; */
    /* background-color: #f8da45; */
    /* margin-bottom: 10em;
     margin-top: em; */

/* } */

.fixed-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3 {
    background-image: url("../img/bg_footer.jpg");

}

.wid-payment .thanhtoan {
    width: 241px;
}

.ft_center {
    margin-top: 7em;
}

footer .top-footer .phone-div {
    display: inline-block;
    width: 150px;
    position: absolute;
    top: -75px;
    left: 50%;
    z-index: 99;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 150px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

/* @media all and (min-width:992px) */
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

footer .top-footer .widget-payment .wid-payment {
    margin-bottom: 0;
}

footer .top-footer .widget-payment :last-child.wid-payment {
    margin-bottom: 0px;
}

footer .top-footer .widget-payment .wid-payment h4 {
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 17px;
}

footer .top-footer .widget-payment .wid-payment ul li {
    display: inline-block;
    margin-right: 6px;
}

footer .top-footer .widget-payment .wid-payment ul li:last-child {
    margin-right: 0px;
}

footer .top-footer .widget-payment .wid-payment ul li img {
    border-radius: 5px;
    width: 190px;
}

.text-center {
    text-align: center !important;
}

footer .top-footer .widget-contact {
    padding-top: 38px;
}

footer .top-footer .widget-contact>h2 {
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    max-width: 40%;
    margin: 0 auto;
    margin-bottom: 15px;
}

footer .top-footer .widget-contact p {
    color: rgb(0, 0, 0);
    margin-bottom: 17px;
    font-size: 1em;
    line-height: 32px;
}

footer .top-footer .widget-contact strong {
    display: block;
    color: #fff;
    font-size: 20px;
}

footer .top-footer .widget-contact>h2 span {
    color: #d8ab37;
}

footer .top-footer .widget-about>img {
    margin-bottom: 9px;
    margin-left: 67px;
    width: 120px;
}

footer .top-footer .widget-about>h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 22px;
}

footer .top-footer .widget-about p {
    color: rgb(0, 0, 0);
}

footer .top-footer .phone-div .border-circle {
    display: inline-block;
    width: 124px;
    position: relative;
    top: 13.5px;
    left: 13.5px;
    border-radius: 50%;
    height: 124px;
}

footer .top-footer .phone-div .border-circle::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border: 2px solid #D8AB37;
    height: 100%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    filter: blur(4px);
}

footer .top-footer .phone-div .border-circle .phone-circle {
    position: relative;
    left: 22px;
    top: 22px;
    display: inline-block;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 110px;
    text-align: center;
    filter: blur(0);
    background: linear-gradient(93.93deg, #fde644 0%, #fda300 100%);
    position: relative;
    z-index: 2;
}

footer .top-footer .phone-div .border-circle .phone-circle .ext-link {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.gotop {
    margin-bottom: 30px;
    width: 80px;
}



/* -- HEADER PART CSS START -- */

.header {
    position: absolute;
    width: 100%;
    z-index: 999;
}

.navbar-custom {
    background: var(--main-color);
    padding: 15px 15px 15px 40px;
    border-radius: 50px;
    align-items: center;
    margin-left: auto;
}

/* color nav begin */
.navbar-custom li {
    margin: 0 10px;
    position: relative;
}

.navbar-custom li a {
    font-size: 16px;
    color: #ffffff !important;
    position: relative;
    transition: all 0.3s;
    font-family: 'Roboto Slab', serif;
}

.navbar-custom li a:hover {
    color: rgb(0, 0, 0) !important;
}

.navbar-custom li:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    left: 0px;
    bottom: 0px;
    transition: all 0.3s;
}

/* color nav begin */
.navbar-custom li:last-child {
    margin: 0;
}

.navbar-custom li:last-child::before {
    background: transparent;
}

.navbar-custom li:hover::before {
    width: 100%;
}

.navbar-custom li.active:before {
    width: 100%;
}

.navbar-custom li:hover a {
    color: #fff;
}

.navbar-nav .dropdown-menu {
    background: var(--main-color);
}

.dropdown-item {
    transition: all 0.3s;
}

.dropdown-item:hover {
    border-bottom: 1px solid #fff;
    background: transparent;
}

.last-menu-bg {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 5px 25px;
}

.last-menu-bg span a {
    color: rgb(255, 255, 255) !important;
    transition: all 0.3s;
}

.last-menu-bg span a:hover {
    color: rgb(255, 223, 42) !important;
}

.navbar-light .navbar-toggler {
    color: rgb(255, 223, 42);
    border-color: rgb(255, 223, 42);
    outline: 0;
    margin: auto;
    float: right;
    margin-right: 1em;
}

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:focus {
    color: rgb(255, 222, 73);
    border-color: rgb(255, 237, 73);
}

.navbar-toggler {
    padding: 0.55rem 1rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.sticky {
    position: fixed !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 9999 !important;
    border-color: #bdb7b7 !important;
    box-shadow: 0 0 5px rgb(0 0 0 / 80%) !important;
    transition: all 0.3s !important;
    background-color: rgb(247, 243, 243) !important;
}

.header .logo_sticky {
    display: none;
}

/* color nav before */
.sticky .logo_normal {
    display: none;
}

.sticky .logo_sticky {
    display: inline-block;
}

.sticky .navbar-custom li a {
    font-size: 16px;
    color: #000000 !important;
    position: relative;
    transition: all 0.3s;
}

.sticky .navbar-custom li a:hover {
    color: rgb(255, 255, 255) !important;
}

.sticky .navbar-custom li:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    left: 0px;
    bottom: 0px;
    transition: all 0.3s;
}


.sticky .last-menu-bg {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    padding: 5px 25px;
}

.sticky .last-menu-bg span a {
    color: rgb(0, 0, 0) !important;
    transition: all 0.3s;
}

.sticky .last-menu-bg span a:hover {
    color: var(--main-color) !important;
}

/* color nav before */


#logo {
    float: left;
}

@media (max-width: 991px) {
    #logo {
        float: none;
        width: 100%;
        text-align: center;
    }

    #logo img {
        width: auto;
        height: 35px;
        float: left;
        margin-left: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .navbar-light .navbar-toggler {
        float: left;
        margin-left: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

}


/* HEADER PART CSS END */


.animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #007bff;
}

.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

@keyframes animborder {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(113px);
        transform: translateX(113px);
    }
}

.animate-border.border-white:after {
    border-color: #fff;
}

.animate-border.border-yellow:after {
    border-color: #F5B02E;
}

.animate-border.border-orange:after {
    border-right-color: #007bff;
    border-left-color: #007bff;
}

.animate-border.border-ash:after {
    border-right-color: #EEF0EF;
    border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
    border-right-color: #F7F9F8;
    border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
    0% {
        width: 15%;
    }

    50% {
        width: 90%;
    }

    100% {
        width: 10%;
    }
}

@keyframes primary-long {
    0% {
        width: 80%;
    }

    50% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

.dk-footer {
    padding: 65px 0 0;
    background-color: #151414;
    position: relative;
    z-index: 2;
}

.dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px;
}

.dk-footer .contact-us .contact-info {
    margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
    margin-left: -80px;
}

.dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color: #007bff;
}

.dk-footer-box-info {
    /* position: absolute; */
    text-align: center;
    background: #ffe94bfa;
    padding: 20px;
    z-index: 2;
}

.footer-social-link h5 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 2em;
}

/* .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
.dk-footer-box-info .footer-social-link li {
    display: inline-block; }
.dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
.dk-footer-box-info .footer-social-link a i.fa-facebook {
    background-color: #3B5998; }
.dk-footer-box-info .footer-social-link a i.fa-twitter {
    background-color: #55ACEE; }
.dk-footer-box-info .footer-social-link a i.fa-google-plus {
    background-color: #DD4B39; }
.dk-footer-box-info .footer-social-link a i.fa-linkedin {
    background-color: #0976B4; }
.dk-footer-box-info .footer-social-link a i.fa-instagram {
    background-color: #B7242A; } */

.footer-awarad {
    margin-top: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px;
}

.footer-info-text {
    margin: 16px 0 20px;
}

.footer-left-widget {
    padding-left: 80px;
}

.footer-widget .section-heading {
    margin-bottom: 35px;
}

.footer-widget h3 {
    font-size: 24px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.footer-widget ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-widget li {
    margin-bottom: 18px;
}

.footer-widget p {
    margin-bottom: 27px;
}

.footer-widget a {
    color: #878787;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-widget a:hover {
    color: #007bff;
}

.footer-widget:after {
    content: "";
    display: block;
    clear: both;
}

.dk-footer-form {
    position: relative;
}

.dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px;
}

.dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff;
}

.dk-footer-form button:hover {
    cursor: pointer;
}

/* ==========================

    Contact

=============================*/
.contact-us {
    position: relative;
    z-index: 2;
    margin-top: 65px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact-icon {
    position: absolute;
}

.contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff;
}

.contact-info {
    margin-left: 75px;
    color: #fff;
}

.contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}

.copyright {
    padding: 28px 0;
    margin-top: 55px;
    background-color: #202020;
}

.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.copyright a:hover {
    color: #007bff;
}

.copyright-menu ul {
    text-align: right;
    margin: 0;
}

.copyright-menu li {
    display: inline-block;
    padding-left: 20px;
}
