
/* user-bot  */
#user-bot {
position: fixed;
bottom: 20px;
left: 20px;
z-index: 99999999999999999;
height: auto;
float: left;
}
#user-bot .icon {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
cursor: pointer;
color: #ffffff;
background: var(--primary-color);
width: 50px;
height: 50px;
float: left;
border-radius: 10px;
padding: 15px 18px;
transition: 0.3s all;
box-shadow: 0 30px 50px #0000000d;
overflow: hidden;
}
#user-bot .icon:hover {
box-shadow: 0 5px 15px rgb(209 231 221);
}
#user-bot .icon .user {
visibility: hidden;
margin-left: -100px;
}
#user-bot .icon.expanded {
width: 270px;
justify-content: space-between;
}
#user-bot .information.expanded {
visibility: visible;
height: 350px;
width: 290px;
}
#user-bot .icon.expanded .user {
visibility: visible;
margin-left: 0;
transition: 0.5s;
}

#user-bot .information {
background-color: #fff;
border: 1px solid #0f513238;
box-shadow: 0 30px 50px #0000000d;
padding: 10px;
margin-bottom: 10px;
height: 355px;
border-radius: 10px;
overflow: hidden;
transition: height 0.7s;
width: 0;
height: 0;
visibility: hidden;
}

.information .headbot{
background-color: #f8da45;
border: 1px solid #0f513238;
margin-bottom: 10px;
}


#user-bot .items {
height: 248px;
overflow-y: scroll;
display: flex;
flex-direction: column;
touch-action: pan-y;
}
#user-bot .items::-webkit-scrollbar {
display: none;
}
#user-bot .type-area a.typing {
align-content: center;
border: 1px solid rgb(227 230 234);
border-radius: 5px;
padding: 8px 40px 8px 14px;
font-size: 12px;
}
#user-bot .type-area {
position: relative;
overflow: hidden;
box-shadow: 0 5px 12px rgb(0 0 0 / 3%);
background-color: rgb(243, 33, 33);
margin-top: 10px;
}

#user-bot .item {
margin-bottom: 10px;
display: flex;
flex-direction: column;
font-size: 12px;
color: #7c8089;
}
#user-bot .item a{
    text-decoration: none;
    color: black;
}

#user-bot .item .item_name {
padding: 10px;
border-radius: 5px;
background-color: #fcffe0;
}

#user-bot .item .item_name:hover {
    background: #fff56d;
    box-shadow: 0 5px 10px #d3d4a7e0;
}

#user-bot .item .item_name .name {
color: #393d4a;
font-size: 14px;
margin-top: 10px;
font-weight: 500;
}
#user-bot .timestamp {
text-align: center;
font-size: 18px;
margin-top: 10px;
}

.btn_logout {
    border: none;
    background: #c90000c2;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 5px 13px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
    border-radius: 5px;
    line-height: normal;
}

.btn_logout:hover {
    box-shadow: 0 5px 5px rgb(209 231 221);
    background: #d32f2ff2;
    color: black;
}
/* user-bot  end */
